{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block title %}
  Пост {{ post.text|truncatechars:30 }}
{% endblock%}


{% block content %} 
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Published: {{ post.pub_date|date:"d E Y" }}
        </li>
        {% if post.group %}
          <li class="list-group-item">
            Group: {{ post.group }}
            <a href="{% url 'posts:group_list' post.group.slug %}">
              all records of the group 
            </a>
          </li>
        {% endif %}
          <li class="list-group-item">
            Author: {{ post.author.get_full_name }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Total posts by author: {{ post_count }}
          </li>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' post.author.username %}">
            all user posts
          </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>{{ post.text }}</p>
      {% if post.author == user %}
        <p>
          <a href="{% url 'posts:post_edit' post.id %}">edit post</a>
        </p>
      {% endif %}
      {% include 'includes/comment.html' %}
    </article>
  </div> 
{% endblock %}