{% extends 'base.html' %}


{% block title %}
  Password changed
{% endblock %}


{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5 text-center">
      <div class="card">
        <div class="card-header">
          <b>Password changed</b>
        </div>
        <div class="card-body">
          <p>
            Password changed succesfully!
          </p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}
