{% extends 'base.html' %}


{% block title %}
  Password reset was successful 
{% endblock %}


{% block content %}
      <div class="container py-5"> 
        <div class="row justify-content-center">
          <div class="col-md-8 p-5 text-center">
            <div class="card">
              <div class="card-header">
                Password recovery completed
              </div>
              <div class="card-body text-center">
                <p>Your password has been saved. Use it to login!</p>
                <button type="submit" class="btn btn-primary" 
                  onclick="location.href='{% url 'users:login' %}'">
                  Sign In
                </button>
              </div> 
            </div> 
          </div>
        </div> 
      </div>
{% endblock %}